hr {
  border-top: 1px solid #c0c0c0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

a {
  font-style: italic;
  color: #006400;
}

body {
  font-family: "Georgia", "Times New Roman", "Microsoft YaHei", serif;
  font-size: 19.2px;
  margin: 0;
  border: 2px solid #1a1111;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  margin-top: 40px;
}

.post-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.post-list li {
  margin-bottom: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 300px;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-box {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}